*{
    background-color: antiquewhite;
    color: rgb(255, 72, 0);
    font-family: "Fleur De Leah", cursive;
    font-weight: 200;
    font-style: normal;
}
p{
    background-color: rgb(228, 228, 228);
    height: 150px;
    width: 150px;
    padding: 10px;
    margin: 2px;
}
#content{
    display: grid;
    grid-template-columns: 20% 80%;
}
#main{
    display: flex;
    #no{
        display: block;
        margin: auto;
        width: 50%
    }
}